[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = git://github.com/taq/vim-git-branch-info.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = git://github.com/slack/vim-bufexplorer.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/mhz/vim-matchit.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-bclose"]
	path = bundle/vim-bclose
	url = git://github.com/cespare/vim-bclose.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git://github.com/peterhost/vim-markdown-preview.git
[submodule "bundle/vim-taglist-plus"]
	path = bundle/vim-taglist-plus
	url = git://github.com/int3/vim-taglist-plus.git
