#bundle/*

#eclim
eclim/*
plugin/*

#Others
doc/*
session/*
sessions/*
tmp/*
views/*
Trashed-Bundles/*
Session.vim
logfile
ftplugin/*
!ftplugin/help.vim
simplenoterc
.netrwhist

tmp
ttmp
local/*
.netrwhist
*.swp

# Also ignore BUNDLES (as we now use vundle)
bundle/*
bundle/


.DS_Store
tags/
vim-powerline-patched-fonts/
*.sess
